h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

* {
  margin: 0; }

body {
  font-family: roboto, sans-serif;
  background: #f2f2f2; }

@-webkit-keyframes appearance-header {
  10% {
    opacity: 0.01; }
  20% {
    -webkit-transform: translateY(36px) scaleY(2);
            transform: translateY(36px) scaleY(2); }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
    opacity: 1; } }

@keyframes appearance-header {
  10% {
    opacity: 0.01; }
  20% {
    -webkit-transform: translateY(36px) scaleY(2);
            transform: translateY(36px) scaleY(2); }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
    opacity: 1; } }

.header {
  height: 100vh;
  background: url("../images/header.png") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  background-attachment: fixed;
  position: relative; }
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 24px;
    max-width: 1500px;
    margin: 0 auto; }
    .header-contact__phone_link {
      font: bold 12px Roboto, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 2px; }
      .header-contact__phone_link:hover {
        color: #9fadc2; }
    .header-contact__phone--on {
      position: absolute;
      bottom: 55px;
      left: 22px; }
    .header-contact__img {
      width: 115px;
      height: 76px; }
    .header-contact__order {
      position: relative; }
      .header-contact__order_link {
        font: bold 12px Roboto, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px; }
        .header-contact__order_link:hover {
          color: #9fadc2; }
      .header-contact__order--on {
        position: absolute;
        bottom: 25px;
        left: 22px; }
      .header-contact__order::after {
        content: "";
        position: absolute;
        top: 27px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        -webkit-transition: width 0.1s cubic-bezier(0, 0, 1, 1) 100ms;
        transition: width 0.1s cubic-bezier(0, 0, 1, 1) 100ms; }
      .header-contact__order:hover::after {
        width: 0; }
    .header-contact__phone-icon, .header-contact__bars-icon, .header-contact__close-icon {
      display: none; }
    .header-contact__phone-icon--off {
      opacity: 0; }
    .header-contact__bars-icon--off {
      display: none; }
    .header-contact__close-icon--on {
      display: block;
      cursor: pointer; }
  .header-title {
    width: 328px;
    height: 121px;
    position: absolute;
    left: 100px;
    bottom: 170px;
    -webkit-animation: appearance-header 1s ease-in-out forwards;
            animation: appearance-header 1s ease-in-out forwards; }
    .header-title--off {
      display: none; }
    .header-title__text {
      font: bold 60px roboto, sans-serif;
      color: #fff;
      letter-spacing: -1.5px;
      line-height: 60px;
      text-transform: capitalize;
      position: relative; }
      .header-title__text::before {
        content: "";
        position: absolute;
        top: -16px;
        width: 35px;
        height: 2px;
        background-color: #fff; }
  .header .nav {
    position: absolute;
    left: 0;
    bottom: 50px;
    right: 0;
    max-width: 1500px;
    margin: 0 auto;
    -webkit-animation: appearance-header 1s ease-in-out forwards;
            animation: appearance-header 1s ease-in-out forwards; }
    .header .nav--on {
      display: block;
      margin-top: 55px; }
    .header .nav__item--active {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      padding: 10px 24px;
      margin-top: -8px; }
    .header .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      padding: 0; }
    .header .nav__link {
      font: bold 12px Roboto, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 2px; }
      .header .nav__link:hover {
        color: #9fadc2; }

@media (max-width: 700px) {
  .header .nav, .header-contact__phone, .header-contact__order {
    display: none; }
  .header-contact__order_link, .header-contact__phone_link {
    font: normal 10px roboto, sans-serif; }
  .header-contact__phone-icon, .header-contact__bars-icon {
    display: block;
    cursor: pointer; }
  .header-title {
    left: 45px; }
    .header-title__text {
      font-size: 50px; }
  .header .nav__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px; }
  .header .nav__item {
    margin-top: 20px; }
  .header .nav__link {
    font-size: 22px; }
  .header--mobile {
    background: #0075ff;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in; } }

@media (max-width: 400px) {
  .header-title {
    width: 70%;
    bottom: 110px; }
    .header-title__text {
      font-size: 40px; } }

@media (max-height: 450px) {
  .header {
    height: 140vh; } }

.main {
  max-width: 1017px;
  margin: 0 auto;
  padding: 0 30px; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px; }
  .about__text {
    letter-spacing: -1.5px;
    font-size: 48px;
    line-height: 48px;
    width: 326px; }
  .about__link {
    text-decoration: none;
    color: #0075ff; }
    .about__link:hover {
      border-bottom: 2px solid #0075ff; }
  .about-article {
    width: 500px; }
    .about-article__text-1 {
      font-size: 24px;
      margin-bottom: 16px;
      color: #0075ff; }
    .about-article__text-2 {
      font-size: 16px;
      line-height: 27px; }

@media (max-width: 900px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about__text {
      width: 100%; }
    .about-article {
      width: 100%;
      margin-top: 70px; } }

.gallery {
  margin-top: 152px; }
  .gallery__header {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    position: relative; }
    .gallery__header::after {
      content: "";
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      position: absolute;
      left: 49.5%;
      bottom: -15px;
      width: 21px;
      height: 14px; }
  .gallery__photos {
    margin-top: 60px; }
  .gallery__section {
    display: grid;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px; }
    .gallery__section:nth-child(1) {
      grid-template-columns: 2fr 1fr; }
    .gallery__section:nth-child(3) {
      grid-template-columns: 1fr 1fr; }
    .gallery__section:nth-child(5) {
      grid-template-columns: 1fr 2fr; }
  .gallery__photo {
    width: 100%;
    height: 256px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover; }
  .gallery__info {
    font-weight: bold;
    margin: 24px 0 40px; }
  .gallery__bluish_txt {
    color: #0075ff; }
  .gallery__button {
    font-family: roboto, sans-serif;
    width: 188px;
    height: 56px;
    font-weight: bold;
    color: #0075ff;
    background-color: #fff;
    border: 2px solid #0075ff;
    border-radius: 8px;
    text-decoration: none;
    display: block;
    margin: 0 auto; }
    .gallery__button:hover {
      color: #fff;
      background-color: #0075ff;
      border: none;
      cursor: pointer;
      -webkit-transition: color 200ms ease-in-out;
      transition: color 200ms ease-in-out; }

@media (max-width: 600px) {
  .gallery__photo {
    height: 175px;
    margin-top: 20px; }
  .gallery__section:nth-child(1), .gallery__section:nth-child(3), .gallery__section:nth-child(5) {
    grid-template-columns: 100%; } }

@media (max-width: 450px) {
  .gallery__photo {
    height: 140px; } }

.consultation {
  margin-top: 152px; }
  .consultation__header {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    position: relative; }
    .consultation__header::after {
      content: "";
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      position: absolute;
      left: 49.5%;
      bottom: -15px;
      width: 21px;
      height: 14px; }
  .consultation__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px; }
  .consultation-article {
    width: 413px; }
    .consultation-article__header {
      width: 240px;
      color: #0075ff;
      font-size: 24px; }
    .consultation-article__par {
      margin-top: 16px;
      line-height: 27px; }
  .consultation__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .consultation__inp {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 413px;
    height: 48px;
    background: #f7f8ff;
    border: none;
    border-radius: 8px;
    padding-left: 17px;
    margin-bottom: 16px;
    outline: none;
    font: 14px Roboto, sans-serif; }
    .consultation__inp::-webkit-input-placeholder {
      color: #b9c1ce; }
    .consultation__inp::-moz-placeholder {
      color: #b9c1ce; }
    .consultation__inp:-ms-input-placeholder {
      color: #b9c1ce; }
    .consultation__inp::-ms-input-placeholder {
      color: #b9c1ce; }
    .consultation__inp::placeholder {
      color: #b9c1ce; }
    .consultation__inp:focus {
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f7));
      background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%); }
  .consultation__button {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    width: 413px;
    height: 56px;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    color: #fff; }
    .consultation__button:hover {
      cursor: pointer;
      background: #0067df;
      -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
              box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }

@media (max-width: 1010px) {
  .consultation__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .consultation-article {
    width: 100%;
    text-align: center; }
    .consultation-article__header {
      width: 100%; }
  .consultation__form {
    margin: 0 auto;
    margin-top: 50px; } }

@media (max-width: 460px) {
  .consultation__form, .consultation__inp, .consultation__button {
    width: 100%; } }

.testimonials {
  margin-top: 152px; }
  .testimonials__header {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    position: relative; }
    .testimonials__header::after {
      content: "";
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      position: absolute;
      left: 49.5%;
      bottom: -15px;
      width: 21px;
      height: 14px; }
  .testimonials__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px; }
  .testimonials-article {
    width: 240px; }
    .testimonials-article__img {
      margin: 0 0 28px 43px; }
    .testimonials-article__h3 {
      color: #0075ff;
      font-size: 24px;
      text-align: center; }
    .testimonials-article__h5 {
      font-size: 14px;
      color: #9fadc2;
      font-weight: normal;
      text-align: center; }
    .testimonials-article__p {
      text-align: center;
      line-height: 27px; }
    .testimonials-article__h3, .testimonials-article__h5, .testimonials-article__p {
      margin-bottom: 13px; }

@media (max-width: 870px) {
  .testimonials__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .testimonials-article:not(:last-of-type) {
    margin-bottom: 48px; } }

.contact {
  margin-top: 152px; }
  .contact__header {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    position: relative; }
    .contact__header::after {
      content: "";
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      position: absolute;
      left: 49.5%;
      bottom: -15px;
      width: 21px;
      height: 14px; }
  .contact__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px; }
  .contact__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 413px; }
  .contact-article__h5 {
    font-size: 14px;
    font-weight: normal;
    color: #9fadc2;
    margin-bottom: 8px; }
  .contact-article__p {
    margin-bottom: 24px; }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__inp {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 413px;
    height: 48px;
    background: #f7f8ff;
    border: none;
    border-radius: 8px;
    padding-left: 17px;
    margin-bottom: 16px;
    outline: none;
    font: 14px Roboto, sans-serif; }
    .contact__inp::-webkit-input-placeholder {
      color: #b9c1ce; }
    .contact__inp::-moz-placeholder {
      color: #b9c1ce; }
    .contact__inp:-ms-input-placeholder {
      color: #b9c1ce; }
    .contact__inp::-ms-input-placeholder {
      color: #b9c1ce; }
    .contact__inp::placeholder {
      color: #b9c1ce; }
    .contact__inp:focus {
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f7));
      background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%); }
  .contact__button {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    width: 413px;
    height: 56px;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    color: #fff; }
    .contact__button:hover {
      cursor: pointer;
      background: #0067df;
      -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
              box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }
  .contact__area {
    width: 413px;
    height: 144px;
    resize: none;
    padding-top: 17px; }

@media (max-width: 1135px) {
  .contact__articles {
    width: 40%; } }

@media (max-width: 875px) {
  .contact__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact__articles {
    width: 413px; }
  .contact__form {
    margin-top: 30px; } }

@media (max-width: 500px) {
  .contact__articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__form, .contact__articles, .contact__inp, .contact__button {
    width: 100%; } }

.footer {
  margin-top: 88px;
  height: 359px;
  background: url("../images/footer.png") no-repeat;
  background-size: cover;
  text-align: center;
  position: relative; }
  .footer__img {
    position: absolute;
    bottom: 40px;
    width: 115px;
    height: 76px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

@media (max-width: 350px) {
  .about__text,
  .gallery__header,
  .consultation__header,
  .testimonials__header,
  .contact__header {
    font-size: 35px; } }

@media (max-width: 870px) {
  .gallery,
  .consultation,
  .testimonials,
  .contact {
    margin-top: 88px; } }

/*# sourceMappingURL=main.css.map */
